body,h1 {font-family: "Raleway", sans-serif}

body, html {height: 100%}

.bgimg {
    background-image: url('background.jpg');
    background-size: cover, 80%;
    min-height: 100%;
    background-position: center;
}

.showUsers{
    text-decoration: none;
}

.welcome{
    margin-left: 500px;
    width: auto;
}