<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; UTF-8">
    <title>Dodawanie</title>
</head>
<body>
<form action="/createUser" method="post">
    First name:<br>
    <input type="text" name="name"><br>
    Last name:<br>
    <input type="text" name="surname"><br>
    Age:<br>
    <input type="text" name="age"><br>
<br>
<button formmethod="post">Zapisz</button>
</form>
<form>
    <button formaction="/" formmethod="get">Powrót</button>
</form>

</body>
</html>