<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; UTF-8">
    <link href="../static/css/createUser.css" th:href="@{/css/createUser.css}" rel="stylesheet" >
    <title>Dodawanie</title>
</head>
<body>
<form action="/createUser" method="post">
    <p>First name:</p>
    <input type="text" name="name"><br>
    <p>Last name:</p>
    <input type="text" name="surname"><br>
    <p>Age:</p>
    <input type="text" name="age"><br>
<br>
    <button formmethod="post">Zapisz</button>
    <button formaction="/users" formmethod="get">Powrót</button>
</form>
</body>
</html>