<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; UTF-8">
    <link href="createUser.css" th:href="@{/css/createUser.css}" rel="stylesheet" >
    <title>Edytowanie</title>
</head>
<body>
<form action="/editUser" method="post">
    <p>ID:</p>
    <input type="text" name="id" th:value="${user.id}"><br>
    <p>First name:</p>
    <input type="text" name="name" th:value="${user.name}"><br>
    <p>Last name:</p>
    <input type="text" name="surname" th:value="${user.surname}"><br>
    <p>Age:</p>
    <input type="text" name="age" th:value="${user.age}"><br>
    <br>
    <button formmethod="post">Zapisz</button>
    <button formaction="/users" formmethod="get">Powrót</button>
</form>
</body>
</html>