<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <link href="../static/css/users.css" th:href="@{/css/users.css}" rel="stylesheet" >
    <title>Użytkownicy</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th> Id</th>
        <th> Name</th>
        <th> Surname</th>
        <th> Age </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td><span th:text="${user.id}">Id</span></td>
        <td><span th:text="${user.name}"> Name </span></td>
        <td><span th:text="${user.surname}"> Surname </span></td>
        <td><span th:text="${user.age}"> Age </span></td>
        <form>
            <td><button th:formaction="${'/deleteUser/' + user.id}" formmethod="post">Usuń</button></td>
        </form>
    </tr>
    </tbody>
    </tbody>
</table>
<form>
    <br>
    <button formaction="/createUser" formmethod="post">Dodaj</button>
    <button>Edytuj</button>
    <br><br>
    <button formaction="/" formmethod="get">Powrót</button>
</form>
</body>
</html>